.element__button-trash{
    margin:0;
    padding:0;
    border:none;
    width: 18px;
    height: 19px;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20px;
    margin-right: 20px;
    background: transparent;
    background-image: url("../../../images/Trash.svg");
    cursor: pointer;
}

.element__button-trash:hover{
    opacity: 50%;
}