.profiles__add-button{
    margin: 0;
    margin-bottom: 10px;
    padding: 23px 73px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background: transparent;
    background-image: url("../../../images/Add-Button3.svg");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
}
.profiles__add-button:hover{
    opacity: 0.6;
}

@media screen and (max-width:700px) {
    .profiles__add-button {
        margin:0;
        padding: 23px 139px;
    }
  }