.popup_opened {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
  }