.popupMax__title{
    width: 282px;
    height: 12px;
    top: 640px;
    left: 232px;
    font-family: Inter;
    font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);

}