.elements{
max-width: 880px;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
justify-items: center;
gap: 20px 17px;
margin: 0px auto 66px;
}
  @media screen and (max-width:900px) {
    .elements {
        margin: 0;
      margin-bottom: 48px;
    }
  }
  
  @media screen and (max-width:500px) {
    .elements {
      max-width: 320px;
    }
  }