.popupMax__image {
    margin:0;
    padding:0;
    position: relative;
max-width: 816px;
max-height: 562px;
}

@media screen and (max-width:1100px) {
    .popupMax__image {
      max-width: 720px;
    }
  }
  
  @media screen and (max-width:900px) {
    .popupMax__image {
      max-width: 606px;
    }
  }
  @media screen and (max-width:850px) {
    .popupMax__image {
      max-width: 504px;
    }
  }
  @media screen and (max-width:600px) {
    .popupMax__image {
      max-width: 350px;
    }
  }
  
  @media screen and (max-width:500px) {
    .popupMax__image {
      max-width: 282px;
    }
  }