.profile-info__edit-button{
    margin-bottom: 10px;
    padding:13px;
    border: 1px solid #FFFFFF;
    margin-left: 18px;
    background: transparent;
    cursor: pointer;
    background-image: url("../../../images/Edit-Button1.svg");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.profile-info__edit-button:hover{
    opacity: 0.6;
}

@media screen and (max-width:700px) {
    .profile-info__edit-button {
        margin-bottom: -3px;
        padding:8px;
        margin-left: 10px;
    }
  }
